EIO:CFG_1.0:7:0::
#
EIO_CROSS:

      -Name "Cross_Signal_Lamp" -Res "Signal_Lamp" -Act1 "scDriveEnable"
#
EIO_SIGNAL_SAFELEVEL:

      -Name "FlangePowerSafeLevel" -ActionWhenStartup "Last"

      -Name "SGcmdSafeLevel" -ActionWhenAccessible "Default"
#
ETHERNETIP_DEVICE:

      -Name "ManipulatorIO" -VendorName "ABB Robotics" -ProductName "DSQC1030"\
      -Label "ABB Manipulator I/O Device" -Address "192.168.125.101"\
      -VendorId 75 -ProductCode 29 -DeviceType 12 -OutputAssembly 100\
      -InputAssembly 101 -ConfigurationAssembly 102\
      -ConnectionPriority "SCHEDULE" -OutputSize 2 -InputSize 2\
      -ConfigurationSize 8\
      -ConfigurationData00 "01 02 09 10 01 08 10 01 00 00 00 00 00 00 00 00"\
      -O2T_RPI 40000 -T2O_RPI 40000

      -Name "Hand" -StateWhenStartup "Deactivated" -VendorName "ABB"\
      -ProductName "EtherNet/IP EIP" -Label "2" -Address "192.168.125.30"\
      -VendorId 75 -ProductCode 1 -OutputAssembly 100 -InputAssembly 101\
      -OutputSize 10 -InputSize 10 -O2T_RPI 10000 -T2O_RPI 10000\
      -ConnectionTimeoutMultiplier 2
#
PROFINET_NETWORK:

      -Name "PROFINET" -Label "PROFINET Device"
#
PROFINET_DRIVER:

      -Name "PROFINET_COMMON_DATA"
#
EIO_SIGNAL:

      -Name "custom_DI_0" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "8"

      -Name "custom_DI_1" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "9"

      -Name "custom_DI_2" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "10"

      -Name "custom_DI_3" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "11"

      -Name "custom_DI_4" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "12"

      -Name "custom_DI_5" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "13"

      -Name "custom_DI_6" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "14"

      -Name "custom_DI_7" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "15"

      -Name "custom_DO_0" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "8"

      -Name "custom_DO_1" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "9"

      -Name "custom_DO_2" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "10"

      -Name "custom_DO_3" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "11"

      -Name "custom_DO_4" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "12"

      -Name "custom_DO_5" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "13"

      -Name "custom_DO_6" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "14"

      -Name "custom_DO_7" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "15"

      -Name "flange_24V" -SignalType "DO" -Device "ManipulatorIO" -DeviceMap "0"\
      -SafeLevel "FlangePowerSafeLevel"

      -Name "Signal_Lamp" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "7"

      -Name "hall_sensor_joint_1" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "0"

      -Name "hall_sensor_joint_2" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "1"

      -Name "hall_sensor_joint_3" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "3"

      -Name "hall_sensor_joint_4" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "4"

      -Name "hall_sensor_joint_5" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "5"

      -Name "hall_sensor_joint_6" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "6"

      -Name "hall_sensor_joint_7" -SignalType "DI" -Device "ManipulatorIO"\
      -DeviceMap "2"

      -Name "hall_sensor_24V" -SignalType "DO" -Device "ManipulatorIO"\
      -DeviceMap "1"

      -Name "hand_CmdGripper" -SignalType "GO" -Device "Hand"\
      -Label "Hand Command Right" -DeviceMap "0-4" -Category "HandRight"\
      -Access "All" -SafeLevel "SGcmdSafeLevel"

      -Name "hand_CmdClearErr" -SignalType "DO" -Device "Hand"\
      -Label "Clear Error Right" -DeviceMap "7" -Category "HandRight"\
      -Access "All"

      -Name "hand_MaxPosition" -SignalType "GO" -Device "Hand"\
      -Label "Max Position Right" -DeviceMap "8-15" -Category "HandRight"\
      -Access "All" -Default 100

      -Name "hand_MinPosition" -SignalType "GO" -Device "Hand"\
      -Label "Min Position Right" -DeviceMap "16-23" -Category "HandRight"\
      -Access "All" -Default 50

      -Name "hand_MaxSpeed" -SignalType "GO" -Device "Hand"\
      -Label "Max Speed Right" -DeviceMap "24-31" -Category "HandRight"\
      -Access "All" -Default 200

      -Name "hand_HoldForce" -SignalType "GO" -Device "Hand"\
      -Label "Hold Force Right" -DeviceMap "40-47" -Category "HandRight"\
      -Access "All" -Default 120

      -Name "hand_CmdVacuum1" -SignalType "DO" -Device "Hand"\
      -Label "Vacuum 1 Right" -DeviceMap "48" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdVacuum2" -SignalType "DO" -Device "Hand"\
      -Label "Vacuum 2 Right" -DeviceMap "49" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdBlowoff1" -SignalType "DO" -Device "Hand"\
      -Label "BlowOff 1 Right" -DeviceMap "50" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdBlowoff2" -SignalType "DO" -Device "Hand"\
      -Label "BlowOff 2 Right" -DeviceMap "51" -Category "HandRight"\
      -Access "All"

      -Name "di_VirtuallyConnected" -SignalType "DI" -Device "Hand"\
      -Label "Virtual Controller" -DeviceMap "6" -Category "HandRight"\
      -Access "All"

      -Name "hand_SysState" -SignalType "GI" -Device "Hand"\
      -Label "Finger State Right" -DeviceMap "0-4" -Category "HandRight"\
      -Access "All"

      -Name "hand_SysError" -SignalType "GI" -Device "Hand"\
      -Label "Finger Error Right" -DeviceMap "32-39" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusCalibrated" -SignalType "DI" -Device "Hand"\
      -Label "Calibrated Right" -DeviceMap "5" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPosition" -SignalType "GI" -Device "Hand"\
      -Label "Actual Position Right" -DeviceMap "8-15" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualSpeed" -SignalType "GI" -Device "Hand"\
      -Label "Actual Speed Right" -DeviceMap "16-23" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusCamLinked" -SignalType "DI" -Device "Hand"\
      -Label "Camera Connection Right" -DeviceMap "40" -Category "HandRight"\
      -Access "All"

      -Name "hand_SoftwareVersion" -SignalType "GI" -Device "Hand"\
      -Label "Software Version Right" -DeviceMap "41-47" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusVacuum1" -SignalType "DI" -Device "Hand"\
      -Label "Vacuum 1 Right Status" -DeviceMap "48" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusVacuum2" -SignalType "DI" -Device "Hand"\
      -Label "Vacuum 1 Right Status" -DeviceMap "49" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusBlowoff1" -SignalType "DI" -Device "Hand"\
      -Label "SuncTool 1 Right Status" -DeviceMap "50" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusBlowoff2" -SignalType "DI" -Device "Hand"\
      -Label "SuncTool 1 Right Status" -DeviceMap "51" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPressure1" -SignalType "GI" -Device "Hand"\
      -Label "Vacuum pressure1 Right" -DeviceMap "64-71" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPressure2" -SignalType "GI" -Device "Hand"\
      -Label "Vacuum pressure2 Right" -DeviceMap "72-79" -Category "HandRight"\
      -Access "All"

      -Name "hand_SecurityKey" -SignalType "GO" -Device "Hand"\
      -Label "Security key right" -DeviceMap "64-71" -Category "HandRight"\
      -Access "All"

      -Name "hand_TftPFtpMode" -SignalType "DI" -Device "Hand"\
      -Label "Hand firmware update mode" -DeviceMap "7" -Category "HandRight"\
      -Access "All"

#CTRL_SIGNATURE:CtC5ZEzU5N+fhZxJjbGgssymsk39jSe/aVZ9lylqTCX90myQn7AGbOpY+E6Ce9TrVtHs711KGq3kZMZxBOGv6A==