MOC:CFG_1.0:7:0::
#
MOTION_SYSTEM:

      -name "system_1" -min_temp_ambient_cabinet 5 -max_temp_ambient_cabinet 35\
      -min_temp_ambient_robot 5 -max_temp_ambient_robot 35
#
MOTION_PLANNER:

      -name "motion_planner_1" -std_servo_queue_time 0.193535998\
      -linear_max_speed 1.5 -use_motion_sup "rob1"\
      -use_jog_parameters "motion_planner_1" -use_for_jogging  -repos_installed \
      -use_spline_parameters "motion_planner_1" -restricted_circlepoint \
      -optimized_start_from_finepoint 1 -absacc_speed_adjust 0

      -name "motion_planner_2"

      -name "motion_planner_3"

      -name "motion_planner_4"

      -name "motion_planner_5"

      -name "motion_planner_6"

      -name "motion_planner_7"
#
JOG_PARAMETERS:

      -name "motion_planner_1"
#
RELAY:

      -name "rob1_brake" -out_signal "BrakeEn" -in_signal "BrakeFb"
#
ROBOT:

      -name "ROB_1" -use_robot_serial_number "rob_1"\
      -use_robot_type "ROB1_14050_05_05_TYPEA" -use_robot_calib "r1_uncalib"\
      -use_joint_0 "rob1_1" -use_joint_1 "rob1_2" -use_joint_2 "rob1_3"\
      -use_joint_3 "rob1_4" -use_joint_4 "rob1_5" -use_joint_5 "rob1_6"\
      -base_mass 24.1800003 -base_mass_centre_x -0.0610000007\
      -base_mass_centre_z 0.063000001 -pos_x_tol 1.00000001E-07\
      -pos_y_tol 1.00000001E-07 -pos_z_tol 1.00000001E-07 -use_css "rob1"\
      -use_motion_process_mode "rob1_optimal_cycle_time_mode"\
      -use_cartesian_speed_supervision "rob1" -global_max_speed_limit_custom 1.5\
      -global_max_speed_limit_acp_custom 0.75 -arm_angle_ref_dir 2
#
ROBOT_SERIAL_NUMBER:

      -name "rob_1"
#
FOOT_INTERFACE:

      -name "r1_foot"
#
TOOL_INTERFACE:

      -name "r1_tool"
#
CSS:

      -name "rob1" -valid  -linear_comp_Kv 0.0399999991\
      -damping_stability_limit 0.150000006
#
MOTION_PROCESS_MODE:

      -name "rob1_optimal_cycle_time_mode" -mode_id 1\
      -use_motion_process_mode_type "rob1_optimal_cycle_time_mode"

      -name "rob1_low_speed_accuracy_mode" -mode_id 2\
      -use_motion_process_mode_type "rob1_low_speed_accuracy_mode"

      -name "rob1_low_speed_stiff_mode" -mode_id 3\
      -use_motion_process_mode_type "rob1_low_speed_stiff_mode"

      -name "rob1_accuracy_mode" -mode_id 4\
      -use_motion_process_mode_type "rob1_accuracy_mode" -world_acc_factor 1

      -name "rob1_mpm_user_mode_1" -mode_id 5\
      -use_motion_process_mode_type "rob1_optimal_cycle_time_mode"

      -name "rob1_mpm_user_mode_2" -mode_id 6\
      -use_motion_process_mode_type "rob1_optimal_cycle_time_mode"

      -name "rob1_mpm_user_mode_3" -mode_id 7\
      -use_motion_process_mode_type "rob1_optimal_cycle_time_mode"

      -name "rob1_mpm_user_mode_4" -mode_id 8\
      -use_motion_process_mode_type "rob1_optimal_cycle_time_mode"
#
MOTION_SUP:

      -name "rob1" -path_col_detect_on  -jog_col_detect_on \
      -inertia_tolerance 0.100000001 -gravity_tolerance 0.200000003\
      -friction_tolerance 1 -disturbance_tolerance 0.100000001\
      -collision_detection_memory 0 -col_detect_at_standstill 
#
SINGLE:

      -name "ROB_1_7" -use_single_type "ROB_1_7" -use_joint "rob1_7"
#
ARM:

      -name "rob1_1" -use_arm_type "ROB1_1" -use_acc_data "rob1_1"\
      -use_arm_calib "rob1_1" -upper_joint_bound 2.94087982\
      -lower_joint_bound -2.94087982 -upper_joint_bound_max 2.94087982\
      -lower_joint_bound_min -2.94087982

      -name "rob1_2" -use_arm_type "ROB1_2" -use_acc_data "rob1_2"\
      -use_arm_calib "rob1_2" -upper_joint_bound 0.759218216\
      -lower_joint_bound -2.50454736 -upper_joint_bound_max 0.759218216\
      -lower_joint_bound_min -2.50454736 -cal_position -2.26892805

      -name "rob1_3" -use_arm_type "ROB1_3" -use_acc_data "rob1_3"\
      -use_check_point "rob1_3" -use_arm_calib "rob1_3"\
      -upper_joint_bound 1.39626336 -lower_joint_bound -2.15548158\
      -upper_joint_bound_max 1.39626336 -lower_joint_bound_min -2.15548158\
      -cal_position 0.52359879

      -name "rob1_4" -use_arm_type "ROB1_4" -use_acc_data "rob1_4"\
      -use_arm_calib "rob1_4" -upper_joint_bound 5.06145477\
      -lower_joint_bound -5.06145477 -upper_joint_bound_max 5.06145477\
      -lower_joint_bound_min -5.06145477

      -name "rob1_5" -use_arm_type "ROB1_5" -use_acc_data "rob1_5"\
      -use_arm_calib "rob1_5" -upper_joint_bound 2.40855432\
      -lower_joint_bound -1.53588974 -upper_joint_bound_max 2.40855432\
      -lower_joint_bound_min -1.53588974 -cal_position 0.69813168

      -name "rob1_6" -use_arm_type "ROB1_6" -use_acc_data "rob1_6"\
      -use_arm_calib "rob1_6" -upper_joint_bound 3.996804\
      -lower_joint_bound -3.996804 -upper_joint_bound_max 3.996804\
      -lower_joint_bound_min -3.996804

      -name "rob1_7" -use_arm_type "ROB1_7" -use_acc_data "rob1_7"\
      -use_arm_calib "rob1_7" -upper_joint_bound 2.94087982\
      -lower_joint_bound -2.94087982 -upper_joint_bound_max 2.94087982\
      -lower_joint_bound_min -2.94087982 -cal_position -2.3561945
#
ARM_LOAD:

      -name "r1_load_1"

      -name "r1_load_2"

      -name "r1_load_3"

      -name "r1_load_4"
#
ARM_CALIB:

      -name "rob1_1"

      -name "rob1_2"

      -name "rob1_3"

      -name "rob1_4"

      -name "rob1_5"

      -name "rob1_6"

      -name "rob1_7"
#
JOINT_CALIB:

      -name "rob1_1"

      -name "rob1_2"

      -name "rob1_3"

      -name "rob1_4"

      -name "rob1_5"

      -name "rob1_6"

      -name "rob1_7"
#
MAINS:

      -name "mains" -u_tolerance_min -0.150000006 -u_tolerance_max 0.100000001

      -name "mains_no_rectifier" -u_tolerance_min 0 -u_tolerance_max 0
#
MOTOR_CALIB:

      -name "rob1_1" -valid_com_offset 

      -name "rob1_2" -valid_com_offset 

      -name "rob1_3" -valid_com_offset 

      -name "rob1_4" -valid_com_offset 

      -name "rob1_5" -valid_com_offset 

      -name "rob1_6" -valid_com_offset 

      -name "rob1_7" -valid_com_offset 
#
DRIVE_MODULE_USER_DATA:

      -name "drive_module_1"
#
CFRIC_BLOCK:

      -name "r1_CFric_1" -friction_ff_level 0.0141000003 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "r1_CFric_2" -friction_ff_level 0.0141000003 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "r1_CFric_3" -friction_ff_level 0.00600000005 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "r1_CFric_4" -friction_ff_level 0.00233999989 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "r1_CFric_5" -friction_ff_level 0.00233999989 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "r1_CFric_6" -friction_ff_level 0.00233999989 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "r1_CFric_7" -friction_ff_level 0.00600000005 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6
#
SIS_EXTERNAL:

      -name "r1_sis_param" -gear_box_warning_level 100
#
SIS_EXTERNAL_SINGLE:

      -name "r1_sis_param_axis7" -gear_box_warning_level 100
#
AXIS_CALIBRATION_JOINT:

      -name "rob1_1"

      -name "rob1_2"

      -name "rob1_3"

      -name "rob1_4"

      -name "rob1_5"

      -name "rob1_6"

      -name "rob1_7"

#CTRL_SIGNATURE:PaVpPxu0lE9kS/+qxJhgJ0gDZgKCT48dnUg9J8HQreeOyCL1dnU0Rhr82nc5MrlUVt5h5Ga8BnXoMxod/jxszQ==