SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "IntegratedVision" -EnableOnPrivateNet 

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "ifVxuXSMhLlK0yMXhd41+B+e/HW+DfX2Q/TdpgmTMBoJduiP"\
      -HTTPPassword "gpwz6VywQZnBnpe2Q2CIvCKebPP7OyzX5OcRfVuEAly9+dbb"\
      -MQTTPassword "qVlHKwHJPVWER+V3INQDq7JCHNT+uIS5G+WRa7W3aBS7qi+R"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "3ql7Ksmb3Kw0bybny+pSqKx9pXqfitMqQ4IifCG4TxwfxVdE"\
      -Password "eS6UDK2gFxWxGZJgI2Sr91FJTtD1kI/Bu943q0oOL1BzVlQG"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "gH8Euq38oLDbjXePHYPvQpuK9KnnrmuhPGQid+693F0+dlSM"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:3RPK4O24pIIJ92e2p4r9SYaICdZYiha4a7zMC/HiPWRPonVSDLo2A6ob/jCtUasr9JhsJKk8j+8N4HPEWaEspg==